

     {% extends "gestion/main.html" %}





{% block content %}




<h1>
Moyenne de l'etudiant : {{moyenne}}

    {{moyenne_arondie}}

</h1>

<h1>{{etudiants.nom}}</h1>
<div class="Titre">
<h3>YOYOYOYOYOYOYOY</h3>
</div>
<table class="table">

<tr>
<th>Examens</th>
<th> note</th>
</tr>
{% for l in notes %}
<tr>
<td>{{l.examens}}</td>
<td>{{l.note}}/20</td>
<td>{{examen.coefficient}}</td>
</tr>

{%endfor%}
<td>Moyenne de l'etudiant </td>
<td>{{moyenne}}</td>
</table>






     <h1>l'etudiant :{{l.etudiant}} a eu la note de {{l.note}}/20, dans l'examens de {{l.examens}} </h1>
     <h1>{{etudiants.email}}</h1>
     <h1>{{l.appreciation}}</h1>


{% endblock %}



{% block navi %}
 <li> <a href="/gestion/ajout2/{{etudiant.id}}"> Pour apres</a></li>
{% endblock %}










