

     {% extends "gestion/main.html" %}





{% block content %}




<h1>




</h1>

<h1>{{etudiants.nom}}</h1>
<div class="Titre">
<h3>YOYOYOYOYOYOYOY</h3>
</div>
<table class="table">

<tr>
<th>Examens</th>
<th> note</th>
<th> coeff</th>
</tr>
{% for l in notes %}
<tr>
<td>{{l.examens}}</td>
<td>{{l.note}}/20</td>
<td>{{examen.coefficient}}</td>
     <td>{{examen.coefficient}}</td>

</tr>

{%endfor%}
<td>Moyenne de l'etudiant </td>
<td> {{moyenne}}</td>
<td> {{coeff}}</td>

</table>


     {% for l in examens %}
<td>{{l.coefficient}}</td>
     {%endfor%}
{{examen.coefficient.id}}

{% endblock %}










