
{% extends "gestion/main.html" %}








{% block content %}


 {% for l in liste1 %}



<ul class="ul1">
<h1>   {{l.titre}}</h1>>

    <li class="li1">

        <button name="button"><a href="/gestion/affiche_exa/{{l.id}}"> afficher les détails | </a></button> <br>
        <button name="button"><a href="/gestion/delete_exa/{{l.id}}"> effacer | </a></button> <br>
<button name="button"><a href="/gestion/update_exa/{{l.id}}"> update </a></button>   </li>



</ul>

  {%endfor%}



{% block navi %}
 <li class="li2"> <a href="/gestion/ajout_exa/{{ressources.id}}"> ajouter un examens </a></li>
{% endblock %}

{% endblock %}



