
*{ font-weight:1;
font-family:system-ui,arial;
}

html, body{
	margin : 0px;
	padding : 0px;
	background-color: #E5E5E5;
}


.entetesite{

	background: #3E454C;
	padding : 50px;
    background-size: 100%;



}

.entetesite h1 {
    color : red;
    font-family : Raleway, sans-serif;
	width : 400px;
	text-align: center;
	margin : 0px auto 0px;
}

h1 {
text-align : center;
}



.img1 {
	display: block;
	border: 0;
  margin: auto;
	width: 60%;
	height:300px;


}


.baree {
  width: 75vw;
  margin: 0 10;
  margin-top: 10px;


}







.carrer {
	padding: 10em;
	margin-bottom: 200px;
border : 2px solid black;
background: white;

}



.flexible {
  display: flex;
  align-items: center;
  margin: 10em;
  color:white;
}
.flexible div {padding: 5em}



  .hh {
    width: 60%;
    text-align: center;
    border-bottom: 1px solid #fff;
    line-height: 0.1em;
    margin: -100px 0 0px;
    margin-left: 2%;
    color:white;
    margin-bottom: 5%;



   }









input[type=submit],button{

    #background:#404040;
    font-family:system-ui,arial;
    font-size:110%;
}

input[type=text],input[type=number],textarea,select,option{
    color:black;
    font-family:system-ui,arial;
}


form{
     background-color:	#404040;
    display:flex;
    justify-content:center;
    flex-direction:column;
    align-items:center;
    margin-top:75px;
    width:65%;
    border-radius:5px;
    box-shadow:1px 1px 1px 1px #A9A9A9;

}


form > p {
list-style-type:none;
    display:flex;
    flex-direction:column;
    align-items:center;
    padding:7px;
    width:70%;


}

.ul1{
    flex-direction:column;
    align-items:center;
    margin-top:25px;
    width:45%;
    height: auto;
    border-radius:5px;
    box-shadow:10px 10px 10px 10px #A9A9A9;
    margin:25px;

}

.ul1 h2{
margin:25px;
text-align:center;

}

.ul1 > .li1{


    list-style-type:none;
    display:flex;
    justify-content: space-around;
    align-items:center;

}


.main{display:flex;
justify-content:center;
flex-direction:column;
 align-items:center;
  }



* {
    margin: 0;
    padding: 0;
  }
  body {
    font-family: Rubik;
    overflow-x: hidden;
  }


  nav{
  display:flex;
  background-color: rgb(16, 43, 24);
  justify-content: space-around;
  padding:20px 0;
  color:rgb(255, 254, 254);

  align-items: center;
  }
  nav.logo{
  letter-spacing: 3px;
  }
  nav ul{
  display:flex;
  list-style: none;
  width:40%;
  justify-content: space-between;
  }
  nav ul li a {
    color:rgb(10, 254, 254);
    text-decoration: none;
    font-size: 1em;
        border-top-style: solid;
text-transform: capitalize;
  }

  .btn{
  border-radius: 40px;
  }

  .menu-bars{
  display:none;
  flex-direction: column;
  height:20px;
  justify-content: space-between;
  position:relative;
  z-index:10;

  }
  .menu-bars input{
  position: absolute;
  width:40px;
  height:28px;
  left:-5px;
  top:-3px;
  opacity: 0;
  cursor:pointer;
  z-index: 10;
  }

  .menu-bars span{
  display:block;
  width:28px;
  height:3px;
  background-color:rgb(10, 254, 254);
  border-radius: 3px;
  transition: all 0.9s;

  }

  .menu-bars span:nth-child(2){
  transform-origin: 0 0 ;
  }

  .menu-bars span:nth-child(4){
    transform-origin: 0 100% ;
    }

  .menu-bars input:checked ~ span:nth-child(2){
  background-color: white;
  transform: rotate(45deg) translate(-1px, -1px);
  }
  .menu-bars input:checked ~ span:nth-child(4){
    background-color: white;
    transform: rotate(-45deg) translate(-1px,0);
    }

    .menu-bars input:checked ~ span:nth-child(3){
      opacity: 0;
      transform: scale(0);
      }


  @media only screen and (max-width: 1000px){
  nav ul{
  width:50%;
  }

  }

  @media only screen and (max-width: 1200px){
    .menu-bars{
    display:flex;
    }
    nav ul{
    position:absolute;
    right:0;
    top:0;
    width:15%;
    height:100vh;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    background-color: rgb(16, 43, 24);
    z-index: 10000000;
    transform: translateX(100%);
    transition: all 1s;
    }
    }
    nav ul.slide{
      transform: translateX(0);

    }


h2{

font-size:1.8em;
}

.ajout button{

width:10vw;

color: rebeccapurple;
}

.ul3{display: grid;
margin:20px;
  grid-template-columns: auto auto auto;

  padding: 20px;
   border-radius:5px;
    box-shadow:10px 10px 10px 10px #A9A9A9;
}
.ul3 .eleve{


}
.eleve{

writing-mode: horizontal-tb;
background-color: yellow;

}



.grid-container {

  grid-template-columns: auto auto auto;

  padding: 5px;
}
.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 20px;
  text-align: center;
}


.ul3 input[type=submit],button{
font-size: 90%;
liste:none;


}
.li1{


    list-style-type:none;


}
